<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <session-config>
    <session-timeout>0</session-timeout>
  </session-config>
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>/WEB-INF/log4j.properties</param-value>
  </context-param>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>webappcubemaster.root</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>springMvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring-mvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springMvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- 用于检测登陆的过滤器 -->
    <filter>
        <filter-name>SSOAuth</filter-name>
        <filter-class>cn.edu.cqupt.rubic_business.filter.SSOAuthFilter</filter-class>
        <init-param>
            <!-- 认证系统服务 -->
            <param-name>SSOService</param-name>
            <param-value>http://172.22.146.20/RubicSSO/SSOAuth</param-value>
        </init-param>
        <init-param>
            <!-- 认证系统ticket名称 -->
            <param-name>cookieName</param-name>
            <param-value>SSOID</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SSOAuth</filter-name>
        <url-pattern>/servlet/LoginCheckServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SSOAuth</filter-name>
        <url-pattern>/servlet/LogoutServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SSOAuth</filter-name>
        <url-pattern>/setCookie</url-pattern>
    </filter-mapping>
  <servlet>
    <servlet-name>ProcessServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_core.initservlet.ProcessServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessServlet</servlet-name>
    <url-pattern>/init/ProcessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginCheckServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.LoginCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheckServlet</servlet-name>
    <url-pattern>/servlet/LoginCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>LoginRedirectServlet</servlet-name>
  	<servlet-class>cn.edu.cqupt.rubic_business.servlet.LoginRedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginRedirectServlet</servlet-name>
  	<url-pattern>/user/redirectLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlgorithmUploadServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.AlgorithmUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlgorithmUploadServlet</servlet-name>
    <url-pattern>/servlet/AlgorithmUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataSetUploadServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.DataSetUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataSetUploadServlet</servlet-name>
    <url-pattern>/servlet/DataSetUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ToolDownLoadServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.ToolDownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToolDownLoadServlet</servlet-name>
    <url-pattern>/servlet/ToolDownLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlgorithmListServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.AlgorithmListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlgorithmListServlet</servlet-name>
    <url-pattern>/servlet/AlgorithmListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AlgorithmDetailsServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.AlgorithmDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlgorithmDetailsServlet</servlet-name>
    <url-pattern>/servlet/AlgorithmDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataSetListServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.DataSetListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataSetListServlet</servlet-name>
    <url-pattern>/servlet/DataSetListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataSetDetailsServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.DataSetDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataSetDetailsServlet</servlet-name>
    <url-pattern>/servlet/DataSetDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RunServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.RunServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RunServlet</servlet-name>
    <url-pattern>/servlet/RunServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ExecutePageServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.ExecutePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecutePageServlet</servlet-name>
    <url-pattern>/servlet/ExecutePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StoreServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.StoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreServlet</servlet-name>
    <url-pattern>/servlet/StoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResultServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.ResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResultServlet</servlet-name>
    <url-pattern>/servlet/ResultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VisualResultDisplayServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.VisualResultDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualResultDisplayServlet</servlet-name>
    <url-pattern>/servlet/VisualResultDisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VisualTableServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.VisualTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualTableServlet</servlet-name>
    <url-pattern>/servlet/VisualTableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VisualizationServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.VisualizationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AtttibuteServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.AtttibuteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AttributeServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.AttributeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AttributeDetilsServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.AttributeDetilsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AttributeStoreServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.AttributeStoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlgorithmCodeServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.AlgorithmCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VisualMatcherServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.VisualMatcherServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ResultDetailsServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.ResultDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisualMatcherServlet</servlet-name>
    <url-pattern>/servlet/VisualMatcherServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VisualizationServlet</servlet-name>
    <url-pattern>/servlet/VisualizationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AtttibuteServlet</servlet-name>
    <url-pattern>/servlet/AtttibuteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttributeServlet</servlet-name>
    <url-pattern>/servlet/AttributeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttributeDetilsServlet</servlet-name>
    <url-pattern>/servlet/AttributeDetilsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AttributeStoreServlet</servlet-name>
    <url-pattern>/servlet/AttributeStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlgorithmCodeServlet</servlet-name>
    <url-pattern>/servlet/AlgorithmCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/servlet/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResultDetailsServlet</servlet-name>
    <url-pattern>/servlet/ResultDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayResultServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.DisplayResultServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadProgressServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.UploadProgressServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteProcessRecordServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.DeleteProcessRecordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RemoveSessionServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.RemoveSessionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RunOnHadoopServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.RunOnHadoopServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UsingModelServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.UsingModelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TrainingModelServlet</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.TrainingModelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EUsingModel</servlet-name>
    <servlet-class>cn.edu.cqupt.rubic_business.servlet.EUsingModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayResultServlet</servlet-name>
    <url-pattern>/servlet/DisplayResultServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadProgressServlet</servlet-name>
    <url-pattern>/servlet/UploadProgressServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteProcessRecordServlet</servlet-name>
    <url-pattern>/servlet/DeleteProcessRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RemoveSessionServlet</servlet-name>
    <url-pattern>/servlet/RemoveSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RunOnHadoopServlet</servlet-name>
    <url-pattern>/servlet/RunOnHadoopServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UsingModelServlet</servlet-name>
    <url-pattern>/servlet/UsingModelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TrainingModelServlet</servlet-name>
    <url-pattern>/servlet/TrainingModelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EUsingModel</servlet-name>
    <url-pattern>/servlet/EUsingModel</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>html/index.html</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/servlet/</location>
  </error-page>
</web-app>